//overrides here
  $primary: #4189B6;
  $secondary: #C7BC9D;
  $warning: #C7AD5E;
  $danger: #CC6631;

.card{
    border: none !important;
}
.bigImg{
    border-radius: 5px 5px 0px 0px;

    height: 50vw;
    object-fit: cover;
    object-position: center;
}
  .profileImage{
    position: relative;
    --bs-aspect-ratio: 100%;
    overflow: hidden;
    width: 50% !important;
}
.profileImageListing{
  position: relative;
  overflow: hidden;
    --bs-aspect-ratio: 100%;
    width: 25% !important;
}
.profileImageRight{
    position: relative;
    overflow: hidden;
        --bs-aspect-ratio: 100%;
        width: 50% !important;
}
.profileImageRight img{
    object-fit: cover;
    object-position: center;
}
.profileImageListing img{
  object-fit: cover;
  object-position: center;
}
.profileImage img{
    object-fit: cover;
    object-position: center;
}
//create diffrent media queries for different screen sizes for .profileImages bootstrap
@media screen and (min-width: 576px) {
    .profileImage{
        width: 25% !important;
    }
    
   
}
@media screen and (min-width: 768px) {
    .profileImage{
        width: 20% !important;
    }
    .bigImg{
        border-radius: 5px 0px 0px 5px;
        height: 150px;
       }
    
}
@media screen and (min-width: 992px) {
    .profileImage{
        width: 15% !important;
    }

}
@media screen and (min-width: 1200px) {
    .profileImage{
        width: 10% !important;
    }
}
//bootstrap here
@import"../node_modules/bootstrap/scss/bootstrap";